server:
  port: 8083

spring:
  application:
    name: REACTION-SERVICE

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/next_page_reaction
    username: swcamp
    password: swcamp

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

mybatis:
  mapper-locations: classpath:mapper/reaction/**/*.xml
  type-aliases-package: com.team2.reactionservice.query.reaction.dto
  configuration:
    map-underscore-to-camel-case: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    com.team2.reactionservice: DEBUG
