spring:
  config:
    activate:
      on-profile: local

  jpa:
    hibernate:
      ddl-auto: create  # 개발 시 자동 테이블 생성
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

logging:
  level:
    com.team2.nextpage: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
